.menu {
    width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}

.menu a {
    display: block;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
    width: 125px;
    border-radius: 50px;
    font-family: robotoRegular, Arial, sans-serif;
    border: 3px solid purple;
    color: #221f1f;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
